sclp/*.o
sclp/scannerbase.h
sclp/parserbase.h
sclp/scanner.cc
sclp/parser.cc
sclp/*.yy.output
sclp/sclp
sclp/cscope.out
sclp/tags
sclp/a.out
sclp/Examples-1/*.spim
sclp/Examples-1/*.spim
sclp/Examples-2/*.debug
sclp/Examples-2/*.debug

only-flexcpp-intro/*.o
only-flexcpp-intro/scannerbase.h
only-flexcpp-intro/scanner.cc
only-flexcpp-intro/scanner.ih
only-flexcpp-intro/scanner.h
only-flexcpp-intro/parser.cc
only-flexcpp-intro/*.yy.output
only-flexcpp-intro/num
only-flexcpp-intro/cscope.out
only-flexcpp-intro/tags
only-flexcpp-intro/a.out

flexcpp-bisoncpp-intro/*.o
flexcpp-bisoncpp-intro/scannerbase.h
flexcpp-bisoncpp-intro/scanner.cc
flexcpp-bisoncpp-intro/parser.cc
flexcpp-bisoncpp-intro/parserbase.h
flexcpp-bisoncpp-intro/*.yy.output
flexcpp-bisoncpp-intro/exp
flexcpp-bisoncpp-intro/cscope.out
flexcpp-bisoncpp-intro/tags
flexcpp-bisoncpp-intro/a.out

simcalc/*.o
simcalc/scannerbase.h
simcalc/scanner.cc
simcalc/parser.cc
simcalc/parserbase.h
simcalc/*.yy.output
simcalc/simcalc
simcalc/cscope.out
simcalc/tags
simcalc/a.out

simple-parser/*.o
simple-parser/scannerbase.h
simple-parser/scanner.cc
simple-parser/parser.cc
simple-parser/parserbase.h
simple-parser/*.yy.output
simple-parser/simparse
simple-parser/cscope.out
simple-parser/tags
simple-parser/a.out